.dinnerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 86vh;
    max-height: 86vh;

    form {
        margin-bottom: 5rem;

        input {
            padding: 3rem 8rem;
            border-radius: 6px;
        }
    }
}

.dinnerBottom {
    display: flex;
    text-align: left;
}
