<div id="dinner">
  <h1>Prenotazione:</h1>

  <div style="display: flex;">
    <p class="infoText">Oppure scansiona il QR Code che trovi sull'email di conferma</p>
    <i class="fa-solid fa-qrcode mainIcon bigIcon"></i>
  </div>
</div>
