// Custom Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@font-face {
    font-family: 'South';
    src: url('South.otf');
}

$bodyFont: 'Poppins', sans-serif;
$titleFont: 'South';

body {
    font-family: $bodyFont;
}

h1, h2, h3 {
    font-family: $titleFont;
}

h1 {
    font-size: 4.6rem;
}

h2 {
    font-size: 2.8rem;
}

p {
    font-size: 2.4rem;
    font-weight: 200;
}

a {
    font-size: 2.4rem;
}
